# Binaries
lissto
*.exe
*.dll
*.so
*.dylib
bin/

# Test binary
*.test

# Output of go build
/build/

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

coverage.out
coverage.html
