# Binaries
lissto
*.exe
*.dll
*.so
*.dylib


# Test binary
*.test

# build & release files
/build/
dist/
bin/

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

coverage.out
coverage.html
